<!-- <app-example></app-example> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-two-way-db></app-two-way-db> -->
<!-- <app-product></app-product> -->
<!-- <app-directive-exp></app-directive-exp> -->
<!-- <app-ng-model-demo></app-ng-model-demo> -->

<!-- <app-directive-ngif-ngif-else></app-directive-ngif-ngif-else> -->
<!-- <app-directive-ngfor></app-directive-ngfor> -->
<app-attribute-directive></app-attribute-directive>

<!-- <app-state-assignment></app-state-assignment> -->
<!-- <app-custom-directive></app-custom-directive> -->
<!-- <app-password-confirmpass></app-password-confirmpass> -->